<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>查看书籍列表</title>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/searchBookPage.css}" />
    <link rel="stylesheet" th:href="@{/css/paginate.css}" media="screen" type="text/css" />
    <script type="text/javascript" th:src="@{/js/jquery-3.2.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.paginate.js}"></script>
</head>
<body>
<div>
    <table>
        <tr>
            <td>
                <input th:type="button" th:value="查询" onclick="searchBookList()" />
            </td>
            <td>
                <input th:type="button" th:value="新增" onclick="showBookPage()" />
            </td>
        </tr>
    </table>
</div>
<div>
    <table class="bookTable" border="1">
        <tr>
            <td th:width="100px">ID</td>
            <td th:width="200px">书名</td>
            <td th:width="200px">作者</td>
            <td th:width="200px">描述</td>
            <td th:width="100px">操作</td>
        </tr>
        <tbody id="bookBody">
        <tr th:each="book:${books}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.bookName}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.title}"></td>
            <td>
            	<input type="button" th:onclick="'javascript:deleteBook(\''+${book.id}+'\')'" value="删除">
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>

<script>
	//跳转增加页面
	function showBookPage(){
		window.location.href = "book/showAddPage";
	}
    //删除
	function deleteBook(id){
		$.ajax({
            type:"post",
            url:"book/deleteBook",
            cache: false,
            contentType: "application/json",
            data: JSON.stringify(id),
            success:function(r){
            	alert(r.msg);
            	window.location.href = "book";
            },
            error:function(){
            	
            }
        });
	}
</script>
</html>