<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>查看书籍列表</title>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/searchEarningExpenseMonthPage.css}" />
    <link rel="stylesheet" th:href="@{/css/paginate.css}" media="screen" type="text/css" />
    <script type="text/javascript" th:src="@{/js/jquery-3.2.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.paginate.js}"></script>
</head>
<body>
<div>
    <table>
        <tr>
            <td>
                <input th:type="button" th:value="查询" onclick="searchBookList()" />
            </td>
        </tr>
    </table>
</div>
<div>
    <table class="earningExpenseMonthTable" border="1">
        <tr>
            <td th:width="100px">ID</td>
            <td th:width="200px">书名</td>
            <td th:width="200px">作者</td>
            <td th:width="200px">描述</td>
            <td th:width="100px">操作</td>
        </tr>
        <tbody id="earningExpenseMonthBody">
        <tr th:each="book:${books}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.bookName}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.title}"></td>
            <td>
            	<input type="button" th:onclick="'javascript:deleteBook(\''+${book.id}+'\')'" value="删除">
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>

<script>
    $(document).ready(function () {
    	
    });

    //删除
	function deleteBook(id){
		$.ajax({
            type:"post",
            url:"book/deleteBook",
            cache: false,
            contentType: "application/json",
            data: JSON.stringify(id),
            success:function(r){
            	alert(r.msg);
            	window.location.href = "book";
            },
            error:function(){
            	
            }
        });
	}
    
    function searchBookList() {
        queryForPages(1);
    }

    $(function() {
        $("#earningExpenseMonthPageCount").paginate({
            count: $("#totalCount").val(),
            start: 1,
            display: 15,
            border: true,
            border_color: '#fff',
            text_color: '#fff',
            background_color: '#9F35FF',
            border_hover_color: '#ccc',
            text_hover_color: '#000',
            background_hover_color: '#fff',
            images: false,
            mouse: 'press',
            onChange: queryForPages
        });
    });


    function queryForPages(pageNum) {
        var beginYear = $("#beginYear").val();
        var beginMonth = $("#beginMonth").val();
        var endYear = $("#endYear").val();
        var endMonth = $("#endMonth").val();
        var accessToken = localStorage.accessToken;
        var userId = $("#userId").val();
        if(accessToken == null || accessToken == "" || accessToken == undefined){
            alert("请先登录");
            window.location.href = "/loginPage";
            return;
        }
        if (beginYear > endYear) {
            alert("开始年份不能大于结束年份");
            return;
        }
        if (beginMonth > endMonth) {
            alert("开始月份不能大于结束月份");
            return;
        }
        var earningExpenseMonthArray = {};
        earningExpenseMonthArray["beginYear"] = beginYear;
        earningExpenseMonthArray["beginMonth"] = beginMonth;
        earningExpenseMonthArray["endYear"] = endYear;
        earningExpenseMonthArray["endMonth"] = endMonth;
        earningExpenseMonthArray["pageNum"] = pageNum;
        earningExpenseMonthArray["userId"] = userId;
        earningExpenseMonthArray["accessToken"] = accessToken;
        $.ajax({
            url: "/getEarningExpenseMonths",
            type: "post",
            dataType: "json",
            contentType: "application/json",
            beforeSend:function (request) {
                request.setRequestHeader("accessToken",accessToken);
            },
            async: false,
            data: JSON.stringify(earningExpenseMonthArray),
            success: function callbackFun(data) {
                //解析json
                if (data.responseCode == 200) {
                    var info = data.data;
                    //清空数据
                    clearDate();
                    fillTable(info);
                } else {
                    alert(data.responseDesc);
                    return;
                }
            }
        });
    }

    //清空数据
    function clearDate() {
        $("#earningExpenseMonthBody").html("");
    }
</script>
</html>