<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

    <head>
        <title>修改书籍</title>
        <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/updateBookPage.css}" />
        <script type="text/javascript" th:src="@{/js/jquery-3.2.1.js}"></script>
    </head>
    <body>
        <form id="updateBookPageForm" th:object="${bookModel}">
	    	<input th:hidden="hidden" th:id="id" th:value="*{id}"/>
            <table>
                <tbody>
                    <tr>
                        <td>书名</td>
                        <td><input th:type="text" th:id="bookName" th:name="bookName" th:value="*{bookName}"/></td>
                        <td><font color="red">*</font></td>
                    </tr>
                    <tr>
                        <td>作者</td>
                        <td><input th:type="text" th:id="author" th:name="author" th:value="*{author}"/></td>
                        <td><font color="red">*</font></td>
                    </tr>
                    <tr>
                        <td>描述</td>
                        <td><input th:type="text" th:id="title" th:name="title" th:value="*{title}"/></td>
                        <td><font color="red">*</font></td>
                    </tr>
                    <tr>
                        <td><input th:type="button" onclick="addBook()" th:value="确定" /></td>
                        <td><input th:type="button" onclick="cancelAddBook()" th:value="取消" /></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </body>
    <script>
    	//修改书籍
        function addBook() {
    		var id = $("#id").val();
            var bookName = $("#bookName").val();
            var author = $("#author").val();
            var title = $("#title").val();
            if(bookName == "" || bookName == undefined){
                alert("请输入书名!");
                return;
            }
            if(author == "" || author == undefined){
                alert("请输入作者!");
                return;
            }
            if(title == "" || title == undefined){
                alert("请输入描述");
                return;
            }
            $.ajax({
                url:"updateBook",
                type:"POST",
                data:{
                	"id":id,
                	"bookName":bookName,
                	"author":author,
                	"title":title
                },
                dataType:"json",
                success:function(data){
                	if (data.result == "1") {
                		alert("修改书籍成功!");
                		window.close();
                    } else {
                    	alert("修改失败,请重试!");
                    }
                },
                error:function(data){
                    alert("系统异常!");
                }
            });
        }
        //取消修改书籍
        function cancelAddBook(){
        	$("#bookName").val("");
            $("#author").val("");
            $("#title").val("");
            window.close();
        }
    </script>
</html>